@import "screen";


.page-header {
	height: 67px;
	background-color: yellow;
	margin: 20px 0 20px 29px;
	width: 1255px;
	img {
		margin: 3px 0 0 162px;
	}
}

#page1 {  
	.page1-bg { 
		/*(@include background(url('../images/city1.jpg?1398175992'));*/
		min-height: 800px;
		width: 100%;
		float: left;
		.menu {
			position: absolute; 
			.btnMoveUp { 
				margin: 400px 0 0 0;
				float: left;

			}
			.btnLeft {
				margin: 400px 0 0 0;
				float: left;
			}
			.btnRight {
				margin: 400px 0 0 990px;
				float: left;
			}
		}
		 
	}

}

.marginDefault {
	margin: 0 10px 0 10px !important; 
}

#page1b {  
	.page1-bg { 
		/*(@include background(url('../images/city1.jpg?1398175992'));*/
		margin: 0;
		min-height: 800px;
		width: 100%;
		float: left;
		margin-left: 0px !important;
		.menu {
			position: absolute; 
			.btnLeft {
				margin: 400px 0 0 0;
				float: left;
			}
			.btnRight {
				margin: 400px 0 0 990px;
				float: left;
			}
			.btnMoveUp {
				top: 437px !important;
				right: 4px !important;
			}
		}
	}

}


#page2 {  
	.page2-bg { 
		/*(@include background(url('../images/city1.jpg?1398175992'));*/
		min-height: 800px;
		width: 100%;
		float: left;
		.menu {
			position: absolute; 
			.btnLeft {
				margin: 400px 0 0 0;
				float: left;
			} 
			.btnRight {
				margin: 400px 0 0 $blueprint-container-size/4*3.3;
				float: left;
			}
			.btnMoveUp {
				top: 437px !important;
				right: 4px !important;
			}
		}
	}

}

#page2b {  
	.page2-bg { 
		/*(@include background(url('../images/city1.jpg?1398175992'));*/
		min-height: 800px;
		width: 100%;
		float: left;
		.menu {
			position: absolute; 
			.btnLeft {
				margin: 400px 0 0 0;
				float: left;
			} 
			.btnRight {
				margin: 400px 0 0 $blueprint-container-size/4*3.3;
				float: left;
			}
			.btnMoveUp {
				top: 437px !important;
				right: 4px !important;
			}
		}
	}

}

#sobre {
	@include background(url('http://lorempixel.com/1600/1200/city/3/'));
}

$corFonte: #FFF !important;
a {
	color: $corFonte;   
}