@import "fonts.css";
@import "screen";

.marginDefault {
	margin: 0 10px 0 10px !important; 
}


.page-header {
	height: 67px;
	//background-color: yellow;
	margin: 20px 0 20px 29px;
	width: 1255px; 
	font-family: 'theano_didotregular';
	img {
		margin: 3px 0 0 162px;
		float: left;
	}  

	.menuHeader {
		float: left;
		width: auto;
		float: left; 
		margin: 25px 0 0 400px;
		ul {
			list-style-type: none;
			padding-left: 10px;
			li {
				float: left;
				margin: 0 46px 0 0;
			}
		}
	}
}

 

#page1 {  
	.page1-bg { 
		/*(@include background(url('../images/city1.jpg?1398175992'));*/
		min-height: 800px;
		width: 100%;
		float: left; 
		@extend .marginDefault;
		.menu {
			position: absolute; 
			.btnMoveUp { 
				margin: 400px 0 0 0;
				float: left;

			}
			.btnLeft {
				margin: 400px 0 0 0;
				float: left;
			}
			.btnRight {
				margin: 400px 0 0 990px;
				float: left;
			}
		}
		 
	}

}



#page1b {  
	.page1-bg { 
		/*(@include background(url('../images/city1.jpg?1398175992'));*/
		margin: 0;
		min-height: 800px;
		width: 100%;
		float: left;
		@extend .marginDefault;
		.menu {
			position: absolute; 
			.btnLeft {
				margin: 400px 0 0 0;
				float: left;
			}
			.btnRight {
				margin: 400px 0 0 990px;
				float: left;
			}
			.btnMoveUp { 
				top: 437px !important;
				right: 4px !important;
			} 
		}
	}

}


#page2 {  
	.page2-bg { 
		/*(@include background(url('../images/city1.jpg?1398175992'));*/
		min-height: 800px;
		width: 100%;
		float: left;
		.menu {
			position: absolute; 
			.btnLeft {
				margin: 400px 0 0 0;
				float: left;
			} 
			.btnRight {
				margin: 400px 0 0 $blueprint-container-size/4*3.3;
				float: left;
			}
			.btnMoveUp {
				top: 437px !important;
				right: 4px !important;
			}
		}
	}

}

#page2b {  
	.page2-bg { 
		/*(@include background(url('../images/city1.jpg?1398175992'));*/
		min-height: 800px;
		width: 100%;
		float: left;
		.menu {
			position: absolute; 
			.btnLeft {
				margin: 400px 0 0 0;
				float: left;
			} 
			.btnRight {
				margin: 400px 0 0 $blueprint-container-size/4*3.3;
				float: left;
			}
			.btnMoveUp {
				top: 437px !important;
				right: 4px !important;
			}
		}
	}

}

#sobre {
	 
	 .sobre-bg {  
		/*(@include background(url('../images/city1.jpg?1398175992'));*/
		min-height: 800px;
		width: 100%;
		float: left;
		@extend .marginDefault;
		.conteudo {
			//@include background(url('../images/page1-bg.jpg?1398175992'));
			background: url('../images/bg/about-sp.jpg?1398175992');
			background-repeat: no-repeat;
			height: 800px;

			.menu {
			 
				.btnRight {
					margin: 307px 0 0 1138px;
					//margin: 400px 0 0 $blueprint-container-size/4*3.3;
					float: left;
					//color: red;
					a {
						background: transparent;
						border: none;
						width: 100px;
						height: 30px; 
					}
				}
			 
			}
		}
		
	}
}

$corFonte: #FFF !important;
a {
	color: $corFonte;   
}